
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GARAGE</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico"/>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="assets/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <!-- Page CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

		<link rel="stylesheet" href="assets/vendor/libs/apex-charts/apex-charts.css">

    <!-- Helpers -->
    <script src="assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="assets/js/config.js"></script>
	<style data-fullcalendar=""></style><link href="assets/css/demo-to-open.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
	
	
	<script src="assets/js/demo-to-codepen.js"></script>

	<script src="assets/vendor/libs/apex-charts/apexcharts.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	
	<script>
	
	  document.addEventListener('DOMContentLoaded', function() {
		var calendarEl = document.getElementById('calendar');
	
		var calendar = new FullCalendar.Calendar(calendarEl, {
		  timeZone: 'UTC',
		  initialView: 'dayGridMonth',
		  events: '/api/demo-feeds/events.json',
		  editable: true,
		  selectable: true
		});
	
		calendar.render();
	  });
	
	</script>

	<script>
		var options = {
				chart: {
						type: 'line'
				},
				series: [{
						name: 'Payé',
						data: [30, 40, 35, 50, 49, 60, 70, 91]
				}, {
						name: 'Non Payé',
						data: [20, 30, 25, 40, 39, 50, 60, 81]
				}],
				xaxis: {
						type: 'datetime',
						categories: ['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01']
				},
				yaxis: {
						title: {
								text: 'Montant'
						}
				},
				title: {
						text: 'Montants Payés et Non Payés',
						align: 'left'
				}
		}

		var chart = new ApexCharts(document.querySelector("#chart"), options);
		chart.render();
	</script>
</head>
<body>
